:root {
  --primary-color-1: #ea4c89;
  --primary-color-2: #ea4c89;
  --primary-color-1-rgb: 234,76,137;
  --primary-color-2-rgb: 234,76,137;
  --secondary-color-1: #F4B41D;
  --secondary-color-2: #F4B41D;
  
  --dark-mode-color-1: #171717;
  --dark-mode-color-2: #1d1d1d;
  --dark-mode-color-3: #101010;
}