:root {
  --primary-color-1: #2E28A8;
  --primary-color-2: #2E75F3;
  --primary-color-1-rgb: 46,40,168;
  --primary-color-2-rgb: 46,117,243;
  --secondary-color-1: #4a8edf;
  --secondary-color-2: #529df6;
  
  --dark-mode-color-1: #181D55;
  --dark-mode-color-2: #1c2160;
  --dark-mode-color-3: #141846;
  
}