:root {
  --primary-color-1: #ab46ec;
  --primary-color-2: #2674e8;
  --primary-color-1-rgb: 171,70,236;
  --primary-color-2-rgb: 38,116,232;
  --secondary-color-1: #65BC7B;
  --secondary-color-2: #54d575;
  
  --dark-mode-color-1: #171635;
  --dark-mode-color-2: #1d1c3d;
  --dark-mode-color-3: #100f28;
  
}