:root {
  --primary-color-1: #983be9;
  --primary-color-2: #b45ef4;
  --primary-color-1-rgb: 171,70,236;
  --primary-color-2-rgb: 38,116,232;
  --secondary-color-1: #ffca3b;
  --secondary-color-2: #fac231;
  
  --dark-mode-color-1: #171635;
  --dark-mode-color-2: #1d1c3d;
  --dark-mode-color-3: #100f28;
  
}