html {
	overflow-x:hidden;
	padding: 0 !important;
	background:#fff;
	margin:0px !important;
}


.fullwidthbanner-container{
		width:100% !important;
		position:relative;
		padding:0;
		overflow:hidden;
		color:#fff;
}

.tp-caption{
	font-family:"Jost";
	font-size:15px;
	font-weight:400;
}

.tp-caption.tp-text{
	font-size:14px;
	line-height:1.6em;
}

.custom-font-1{
	font-family:"Jost", Arial, Helvetica, sans-serif;
	font-size:22px;
}

.custom-font-2{
	font-family:"Jost", Arial, Helvetica, sans-serif;
	font-size:64px;
	font-weight:500;
}

.custom-font-3{
	font-family:"Jost", Arial, Helvetica, sans-serif;
	font-size:48px;
	font-weight:bold;
	line-height:1.1em;
}


.line{
	width:145px;
	height:4px;
	background:#fff;
}

a.btn-slider{
	font-family:"Jost";
	display:block;
	border:solid 1px #fff;
	color:#fff;
	padding:10px 30px;
	font-weight:bold;
	font-size:15px;
	text-transform:none;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

.border-v{
	width:1px;	
	height:300px;
	background:rgba(255,255,255,.5);
}
